/* Reset Styles */
  *{
    margin: 0;
    padding: 0;
    border: 0;
  }
/* Default Styles */
  html,
  body{
    /* font-family: helvetica, arial, sans-serif; */
    font-family: "century gothic", arial, sans-serif;
    font-size: 16px;
  }

  a{
    color: #fff;
    text-decoration: none;
  }

  div.wrapper{
    width: 480px;
    height: 600px;
    margin: 30px auto;
    /* overflow: hidden; */
  }

  div.container{
    width: 100%;
    background-color: #333;
    color: #fff;
  }

  .active-cell{
    background-color: #39f;
    border: 1px double #fff;
  }

  .dim-cell{
    color: #565656;
  }

  table{
    margin: 0 auto;
    font-family: "century gothic", arial, sans-serif;
    border: 1px solid #565656;
  }

/* Header Styles */
  div.header{
    padding: 15px 20px;
    border-bottom: 1px solid #565656;
  }
    /* Header-time Styles */
        #header-time{
          font-size: 3rem;
        }
    /* Header Bottom Styles */
        span#header-date{
          color: #39f;
          font-size: 1.5rem;
        }
/* Main Container Styles */
div.main{
  padding: 30px 20px 5px 20px;
}

/* Calendar Heading Styles */
.calendar-header{
  display: flex;
  /* height: 45px; */
}

#calHeader-heading{
  font-family: monospace;
  font-size: 1.2rem;
}

.controls{
  display: flex;
  width: 75px;
  margin-left: 55%;
}

.controls a{
  margin: 0 10px;
}

.calendarHeader-days{
  display: inline-block;
  padding: 10px;
}
/* Calendar Styles */
table tr th, td{
  padding: 18px;
  margin: 5px;
  text-align: center;
}

.calendar{
  padding: 0 0 30px 0;
}
